In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [38]:
''' Load the data sets for:
1- Remote Automatic Weather Stations (RAWS) as df1
2- Wildland Fire Locations (WFL) as df2 
3- Texas Fire Department Substations'''

df1 = pd.read_csv("Public_View_-_Interagency_Remote_Automatic_Weather_Stations_(RAWS).csv")
df2 = pd.read_csv("WFIGS_-_Wildland_Fire_Locations_Full_History.csv")
df3 = pd.read_excel("TX_Fire_Departments_091522.xlsx", sheet_name = "TXFireDeptSubstations")


df1.head()

df2.head()

df3.head()

' Load the data sets for:\n1- Remote Automatic Weather Stations (RAWS) as df1\n2- Wildland Fire Locations (WFL) as df2 '

/Users/abdullatifalnuaimi/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (13,14,32,34,61,64,77,78,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,X,Y,OBJECTID,StationName,WXID,ObservedDate,NESSID,NWSID,Elevation,SiteDescription,...,WindDirDegrees,AirTempStandPlace,FuelTemp,RelativeHumidity,BatteryVoltage,FuelMoisture,WindDirPeak,WindSpeedPeak,SolarRadiation,StationID
0,-90.08306,44.02861,1,NECEDAH,17372963.0,2022/08/31 12:48:00+00,8376139A,474301,950.0,NaN,...,273 degrees,62 deg. F,62 deg. F,82 %,13.2 volts,19.9 (unk),273 degrees,8 mph,28 w/m2,17372963
1,-84.65417,36.47500,2,BISO-NP,17246242.0,2022/03/15 12:54:00+00,FA6321D4,400902,1445.0,NaN,...,197 degrees,41 deg. F,41 deg. F,75 %,12.9 volts,12.6 (unk),300 degrees,2 mph,37 w/m2,17246242
2,-105.02978,46.30739,3,KNOWLTON,16831540.0,2022/05/02 22:40:00+00,325AE3F8,244102,3320.0,SITE IS LOCATED ON A SMALL KNOLL APPROX. 30 YD...,...,180 degrees,55 deg. F,NO DATA,44 %,13.7 volts,NO DATA,198 degrees,22 mph,442 w/m2,16831540
3,-122.57000,38.03944,4,BIG ROCK,17414417.0,2022/08/03 15:33:59+00,CA28F196,42310,1500.0,NaN,...,144 degrees,62 deg. F,65 deg. F,78 %,13.1 volts,11.3 (unk),115 degrees,6 mph,138 w/m2,17414417
4,-106.29250,37.33111,5,SAN LUIS VALLEY PORTABLE,17567535.0,2022/05/06 01:39:00+00,32941370,NaN,9170.0,SLV Portable is located on the Conejos Peak Di...,...,230 degrees,51 deg. F,48 deg. F,22 %,13 volts,4.7 (unk),318 degrees,14 mph,40 w/m2,17567535

,X,Y,OBJECTID,ABCDMisc,ADSPermissionState,CalculatedAcres,ContainmentDateTime,ControlDateTime,DailyAcres,DiscoveryAcres,...,IsDispatchComplete,OrganizationalAssessment,StrategicDecisionPublishDate,CreatedOnDateTime_dt,ModifiedOnDateTime_dt,Source,GlobalID,IsCpxChild,CpxName,CpxID
0,-104.457511,45.785037,1,NaN,CERTIFIED,50.64,2020/08/06 23:13:07+00,2020/08/06 23:13:24+00,50.6,20.0,...,0,NaN,NaN,2020/08/06 19:50:29+00,2020/08/12 20:46:01+00,IRWIN,{E5436898-ED0D-4CB1-90C0-D61915FE1F29},NaN,NaN,NaN
1,-118.180712,33.808985,2,NaN,DEFAULT,NaN,NaN,NaN,NaN,0.1,...,0,NaN,NaN,2020/02/28 20:52:36+00,2020/02/28 20:52:36+00,IRWIN,{0E79B7FD-2882-43CF-8CFA-911BD1C8F77A},NaN,NaN,NaN
2,-114.835414,48.073946,3,NaN,DEFAULT,NaN,2017/10/18 00:30:00+00,2017/10/18 00:35:00+00,50.0,50.0,...,0,NaN,NaN,2017/10/18 13:46:40+00,2017/11/09 22:08:19+00,IRWIN,{FAC59A92-E6AD-443B-8625-4AAABCF7F533},NaN,NaN,NaN
3,-117.153901,33.176394,4,NaN,DEFAULT,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,2019/07/01 20:10:12+00,2019/07/01 20:10:12+00,IRWIN,{5DF06F41-9948-49D3-B00A-2D3A1D1049C5},NaN,NaN,NaN
4,-121.104180,38.834727,5,NaN,DEFAULT,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,2016/06/20 22:39:02+00,2016/06/20 22:39:02+00,IRWIN,{F378818E-D541-4E0A-9A44-C81886C2B8B4},NaN,NaN,NaN

,SubstationId,FireDepartmentId,FireDepartmentName,SubstationName,CountyId,County,PhysicalAddress1,PhysicalAddress2,PhysicalCity,PhysicalZipCode,MailAddress1,MailAddress2,MailCity,MailZipCode,Latitude,Longitude
0,774.0,1665.0,Abilene Fire Department,Station 2,222.0,Taylor,901 E.S. 27Th,NaN,Abilene,79602.0,901 E.S. 27Th,NaN,Abilene,79602.0,32.4160,-99.7090
1,775.0,1665.0,Abilene Fire Department,Station 3,222.0,Taylor,1625 Vine,NaN,Abilene,79603.0,1625 Vine,NaN,Abilene,79603.0,32.4299,-99.7448
2,776.0,1665.0,Abilene Fire Department,Station 4,222.0,Taylor,3750 Grape,NaN,Abilene,79603.0,3750 Grape,NaN,Abilene,79603.0,32.4965,-99.7394
3,777.0,1665.0,Abilene Fire Department,Station 5,222.0,Taylor,1250 E.N. 16Th,NaN,Abilene,79602.0,1250 E.N. 16Th,NaN,Abilene,79602.0,32.4662,-99.7025
4,778.0,1665.0,Abilene Fire Department,Station 6,222.0,Taylor,1482 S. Danville,NaN,Abilene,79605.0,1482 S. Danville,NaN,Abilene,79605.0,32.4261,-99.7847

In [39]:
# Exploratory Data Analysis: for Remote Automatic Weather Stations (RAWS)

df1.info()
df2.info()

# Select Specific columns

df1_2 = df1[['Latitude','Longitude','StationName','State','County',
             'RainAccumulation','WindSpeedMPH','WindDirDegrees',
             'AirTempStandPlace','RelativeHumidity'
             ,'SolarRadiation','StationID','ObservedDate']]

df2_1 = df2[['X','Y','FireDiscoveryDateTime','FireOutDateTime','FireCause',
             'POOState','POOCounty']]

df3_2 = df3[['FireDepartmentName','SubstationName','County','Latitude','Longitude']]



df1_2.head()
df2_1.head()
df3_2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4203 entries, 0 to 4202
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   X                  4201 non-null   float64
 1   Y                  4201 non-null   float64
 2   OBJECTID           4203 non-null   int64
 3   StationName        4203 non-null   object
 4   WXID               3600 non-null   float64
 5   ObservedDate       4203 non-null   object
 6   NESSID             3600 non-null   object
 7   NWSID              3124 non-null   object
 8   Elevation          3595 non-null   float64
 9   SiteDescription    2166 non-null   object
 10  Latitude           3600 non-null   float64
 11  Longitude          3600 non-null   float64
 12  State              3600 non-null   object
 13  County             3338 non-null   object
 14  Agency             3600 non-null   object
 15  Region             3569 non-null   object
 16  Unit               3457 non-null   object
 17  SubUnit            2365 non-null   object
 18  Status             3600 non-null   object
 19  RainAccumulation   4203 non-null   object
 20  WindSpeedMPH       4203 non-null   object
 21  WindDirDegrees     4203 non-null   object
 22  AirTempStandPlace  4203 non-null   object
 23  FuelTemp           4203 non-null   object
 24  RelativeHumidity   4203 non-null   object
 25  BatteryVoltage     4203 non-null   object
 26  FuelMoisture       4203 non-null   object
 27  WindDirPeak        4203 non-null   object
 28  WindSpeedPeak      4203 non-null   object
 29  SolarRadiation     4203 non-null   object
 30  StationID          4203 non-null   int64
dtypes: float64(6), int64(2), object(23)
memory usage: 1018.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238843 entries, 0 to 238842
Data columns (total 96 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   X                                238843 non-null  float64
 1   Y                                238843 non-null  float64
 2   OBJECTID                         238843 non-null  int64
 3   ABCDMisc                         12486 non-null   object
 4   ADSPermissionState               238843 non-null  object
 5   CalculatedAcres                  5283 non-null    float64
 6   ContainmentDateTime              144708 non-null  object
 7   ControlDateTime                  131131 non-null  object
 8   DailyAcres                       165830 non-null  float64
 9   DiscoveryAcres                   175769 non-null  float64
 10  DispatchCenterID                 201465 non-null  object
 11  EstimatedCostToDate              14330 non-null   float64
 12  FinalFireReportApprovedByTitle   0 non-null       float64
 13  FinalFireReportApprovedByUnit    2616 non-null    object
 14  FinalFireReportApprovedDate      33304 non-null   object
 15  FireBehaviorGeneral              14500 non-null   object
 16  FireBehaviorGeneral1             7134 non-null    object
 17  FireBehaviorGeneral2             5774 non-null    object
 18  FireBehaviorGeneral3             3721 non-null    object
 19  FireCause                        209542 non-null  object
 20  FireCauseGeneral                 53279 non-null   object
 21  FireCauseSpecific                14434 non-null   object
 22  FireCode                         124099 non-null  object
 23  FireDepartmentID                 9820 non-null    object
 24  FireDiscoveryDateTime            238843 non-null  object
 25  FireMgmtComplexity               20667 non-null   object
 26  FireOutDateTime                  139379 non-null  object
 27  FireStrategyConfinePercent       6908 non-null    float64
 28  FireStrategyFullSuppPercent      9104 non-null    float64
 29  FireStrategyMonitorPercent       7017 non-null    float64
 30  FireStrategyPointZonePercent     6642 non-null    float64
 31  FSJobCode                        64530 non-null   object
 32  FSOverrideCode                   63889 non-null   object
 33  GACC                             238783 non-null  object
 34  ICS209ReportDateTime             12587 non-null   object
 35  ICS209ReportForTimePeriodFrom    12305 non-null   object
 36  ICS209ReportForTimePeriodTo      12286 non-null   object
 37  ICS209ReportStatus               13397 non-null   object
 38  IncidentManagementOrganization   11823 non-null   object
 39  IncidentName                     238834 non-null  object
 40  IncidentShortDescription         9127 non-null    object
 41  IncidentTypeCategory             238843 non-null  object
 42  IncidentTypeKind                 238843 non-null  object
 43  InitialLatitude                  174500 non-null  float64
 44  InitialLongitude                 174500 non-null  float64
 45  InitialResponseAcres             84010 non-null   float64
 46  InitialResponseDateTime          30233 non-null   object
 47  IrwinID                          238843 non-null  object
 48  IsFireCauseInvestigated          11178 non-null   float64
 49  IsFireCodeRequested              238843 non-null  int64
 50  IsFSAssisted                     183806 non-null  float64
 51  IsMultiJurisdictional            174865 non-null  float64
 52  IsReimbursable                   178502 non-null  float64
 53  IsTrespass                       177777 non-null  float64
 54  IsUnifiedCommand                 9330 non-null    float64
 55  LocalIncidentIdentifier          238843 non-null  object
 56  PercentContained                 20319 non-null   float64
 57  PercentPerimeterToBeContained    8671 non-null    float64
 58  POOCity                          5464 non-null    object
 59  POOCounty                        238682 non-null  object
 60  POODispatchCenterID              160644 non-null  object
 61  POOFips                          238675 non-null  object
 62  POOJurisdictionalAgency          101062 non-null  object
 63  POOJurisdictionalUnit            156741 non-null  object
 64  POOJurisdictionalUnitParentUnit  3 non-null       object
 65  POOLandownerCategory             171068 non-null  object
 66  POOLandownerKind                 171881 non-null  object
 67  POOLegalDescPrincipalMeridian    2267 non-null    object
 68  POOLegalDescQtr                  1042 non-null    object
 69  POOLegalDescQtrQtr               965 non-null     object
 70  POOLegalDescRange                2218 non-null    object
 71  POOLegalDescSection              2220 non-null    float64
 72  POOLegalDescTownship             2218 non-null    object
 73  POOPredictiveServiceAreaID       208977 non-null  object
 74  POOProtectingAgency              189929 non-null  object
 75  POOProtectingUnit                238843 non-null  object
 76  POOState                         238843 non-null  object
 77  PredominantFuelGroup             34314 non-null   object
 78  PredominantFuelModel             33703 non-null   object
 79  PrimaryFuelModel                 15078 non-null   object
 80  SecondaryFuelModel               6268 non-null    object
 81  TotalIncidentPersonnel           10850 non-null   float64
 82  UniqueFireIdentifier             238843 non-null  object
 83  WFDSSDecisionStatus              159519 non-null  object
 84  CreatedBySystem                  238843 non-null  object
 85  ModifiedBySystem                 238843 non-null  object
 86  IsDispatchComplete               238843 non-null  int64
 87  OrganizationalAssessment         1890 non-null    object
 88  StrategicDecisionPublishDate     1772 non-null    object
 89  CreatedOnDateTime_dt             238843 non-null  object
 90  ModifiedOnDateTime_dt            238843 non-null  object
 91  Source                           238843 non-null  object
 92  GlobalID                         238843 non-null  object
 93  IsCpxChild                       37592 non-null   float64
 94  CpxName                          676 non-null     object
 95  CpxID                            676 non-null     object
dtypes: float64(25), int64(3), object(68)
memory usage: 174.9+ MB

,Latitude,Longitude,StationName,State,County,RainAccumulation,WindSpeedMPH,WindDirDegrees,AirTempStandPlace,RelativeHumidity,SolarRadiation,StationID,ObservedDate
0,44.02861,-90.08306,NECEDAH,WI,Juneau,22.09 inches,5 mph,273 degrees,62 deg. F,82 %,28 w/m2,17372963,2022/08/31 12:48:00+00
1,36.47500,-84.65417,BISO-NP,TN,Scott,14.94 inches,0 mph,197 degrees,41 deg. F,75 %,37 w/m2,17246242,2022/03/15 12:54:00+00
2,46.30739,-105.02978,KNOWLTON,MT,Prairie,1.59 inches,11 mph,180 degrees,55 deg. F,44 %,442 w/m2,16831540,2022/05/02 22:40:00+00
3,38.03944,-122.57000,BIG ROCK,CA,Marin,3.53 inches,3 mph,144 degrees,62 deg. F,78 %,138 w/m2,17414417,2022/08/03 15:33:59+00
4,37.33111,-106.29250,SAN LUIS VALLEY PORTABLE,CO,Conejos,0 inches,4 mph,230 degrees,51 deg. F,22 %,40 w/m2,17567535,2022/05/06 01:39:00+00

,X,Y,FireDiscoveryDateTime,FireOutDateTime,FireCause,POOState,POOCounty
0,-104.457511,45.785037,2020/08/06 18:58:00+00,2020/08/12 14:00:00+00,Human,US-MT,Carter
1,-118.180712,33.808985,2020/02/28 20:45:40+00,NaN,Unknown,US-CA,Los Angeles
2,-114.835414,48.073946,2017/10/17 20:20:24+00,2017/11/09 21:59:59+00,Human,US-MT,Flathead
3,-117.153901,33.176394,2019/07/01 19:54:00+00,NaN,NaN,US-CA,San Diego
4,-121.104180,38.834727,2016/06/20 22:05:59+00,NaN,NaN,US-CA,Placer

        FireDepartmentName SubstationName  County  Latitude  Longitude
0  Abilene Fire Department      Station 2  Taylor   32.4160   -99.7090
1  Abilene Fire Department      Station 3  Taylor   32.4299   -99.7448
2  Abilene Fire Department      Station 4  Taylor   32.4965   -99.7394
3  Abilene Fire Department      Station 5  Taylor   32.4662   -99.7025
4  Abilene Fire Department      Station 6  Taylor   32.4261   -99.7847

In [40]:
# Checking for dublicates or Null

df1_2.duplicated().sum()

df1_2.isnull().sum()

df2_1.duplicated().sum()

df2_1.isnull().sum()

df3_2.duplicated().sum()

df3_2.isnull().sum()

0

Latitude             603
Longitude            603
StationName            0
State                603
County               865
RainAccumulation       0
WindSpeedMPH           0
WindDirDegrees         0
AirTempStandPlace      0
RelativeHumidity       0
SolarRadiation         0
StationID              0
ObservedDate           0
dtype: int64

235

X                            0
Y                            0
FireDiscoveryDateTime        0
FireOutDateTime          99464
FireCause                29301
POOState                     0
POOCounty                  161
dtype: int64

0

FireDepartmentName    0
SubstationName        0
County                0
Latitude              0
Longitude             0
dtype: int64

In [5]:
# Dropping any row that has a missing values espicially in Location & County

df1_3 = df1_2.dropna(axis=0, how="any", thresh=None, subset=None, inplace=False)

df1_3.isnull().sum()

df2_2 = df2_1.dropna(axis=0, how="any", thresh=None, subset=None, inplace=False)

df2_2.isnull().sum()

# Dropping any row that has a duplicates

df2_3 = df2_2.drop_duplicates(subset=None, keep="first", inplace=False)

df2_3.duplicated().sum()

Latitude             0
Longitude            0
StationName          0
State                0
County               0
RainAccumulation     0
WindSpeedMPH         0
WindDirDegrees       0
AirTempStandPlace    0
RelativeHumidity     0
SolarRadiation       0
StationID            0
ObservedDate         0
dtype: int64

X                        0
Y                        0
FireDiscoveryDateTime    0
FireOutDateTime          0
FireCause                0
POOState                 0
POOCounty                0
dtype: int64

0

In [6]:
# new data frame with split value columns
new = df1_3["ObservedDate"].str.split(" ", n = 1, expand = True)

new.head()
 
# Separate Date column from data frame
df1_3["Date"]= new[0]
 
# Separate Time column from data frame
df1_3["Time"]= new[1]
 
# Dropping old ObservedDate column
df1_3.drop(columns =["ObservedDate"], inplace = True)

df1_3.head()

            0            1
0  2022/08/31  12:48:00+00
1  2022/03/15  12:54:00+00
2  2022/05/02  22:40:00+00
3  2022/08/03  15:33:59+00
4  2022/05/06  01:39:00+00

/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/2401513611.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3["Date"]= new[0]
/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/2401513611.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3["Time"]= new[1]
/Users/abdullatifalnuaimi/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Latitude,Longitude,StationName,State,County,RainAccumulation,WindSpeedMPH,WindDirDegrees,AirTempStandPlace,RelativeHumidity,SolarRadiation,StationID,Date,Time
0,44.02861,-90.08306,NECEDAH,WI,Juneau,22.09 inches,5 mph,273 degrees,62 deg. F,82 %,28 w/m2,17372963,2022/08/31,12:48:00+00
1,36.47500,-84.65417,BISO-NP,TN,Scott,14.94 inches,0 mph,197 degrees,41 deg. F,75 %,37 w/m2,17246242,2022/03/15,12:54:00+00
2,46.30739,-105.02978,KNOWLTON,MT,Prairie,1.59 inches,11 mph,180 degrees,55 deg. F,44 %,442 w/m2,16831540,2022/05/02,22:40:00+00
3,38.03944,-122.57000,BIG ROCK,CA,Marin,3.53 inches,3 mph,144 degrees,62 deg. F,78 %,138 w/m2,17414417,2022/08/03,15:33:59+00
4,37.33111,-106.29250,SAN LUIS VALLEY PORTABLE,CO,Conejos,0 inches,4 mph,230 degrees,51 deg. F,22 %,40 w/m2,17567535,2022/05/06,01:39:00+00

In [7]:
# new data frame with split value columns
new = df2_3["FireDiscoveryDateTime"].str.split(" ", n = 1, expand = True)
 
# Separate Date column from data frame
df2_3["FireDiscoveryDate"]= new[0]
 
# Separate Time column from data frame
df2_3["FireDiscoveryTime"]= new[1]
 
# Dropping old FireDiscoveryDateTime column
df2_3.drop(columns =["FireDiscoveryDateTime"], inplace = True)


# new data frame with split value columns
new = df2_3["FireOutDateTime"].str.split(" ", n = 1, expand = True)
 
# Separate Date column from data frame
df2_3["FireOutDate"]= new[0]
 
# Separate Time column from data frame
df2_3["FireOutTime"]= new[1]
 
# Dropping old FireOutDateTime column
df2_3.drop(columns =["FireOutDateTime"], inplace = True)

# new data frame with split value columns
new = df2_3["POOState"].str.split("-", n = 1, expand = True)
 
# Separate State column from data frame
df2_3["State"]= new[1]
 
# Dropping old POOState column
df2_3.drop(columns =["POOState"], inplace = True)

df2_3.head()

/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3817815225.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_3["FireDiscoveryDate"]= new[0]
/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3817815225.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_3["FireDiscoveryTime"]= new[1]
/Users/abdullatifalnuaimi/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3817815225.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_3["FireOutDate"]= new[0]
/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3817815225.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_3["FireOutTime"]= new[1]
/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3817815225.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_3["State"]= new[1]

,X,Y,FireCause,POOCounty,FireDiscoveryDate,FireDiscoveryTime,FireOutDate,FireOutTime,State
0,-104.457511,45.785037,Human,Carter,2020/08/06,18:58:00+00,2020/08/12,14:00:00+00,MT
2,-114.835414,48.073946,Human,Flathead,2017/10/17,20:20:24+00,2017/11/09,21:59:59+00,MT
5,-89.069725,31.068196,Human,Perry,2020/11/23,19:17:00+00,2020/11/30,14:29:59+00,MS
6,-111.414812,40.072836,Unknown,Utah,2019/10/26,21:29:00+00,2019/11/13,00:14:59+00,UT
7,-111.575112,44.637596,Natural,Beaverhead,2020/08/27,14:06:38+00,2020/08/27,20:52:59+00,MT

In [8]:
# Rename data frame columns
df2_3.rename(columns = {'Y':'Latitude',
                        'X':'Longitude',
                       'POOCounty':'County'}, inplace = True)

df2_3.head()

/Users/abdullatifalnuaimi/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Longitude,Latitude,FireCause,County,FireDiscoveryDate,FireDiscoveryTime,FireOutDate,FireOutTime,State
0,-104.457511,45.785037,Human,Carter,2020/08/06,18:58:00+00,2020/08/12,14:00:00+00,MT
2,-114.835414,48.073946,Human,Flathead,2017/10/17,20:20:24+00,2017/11/09,21:59:59+00,MT
5,-89.069725,31.068196,Human,Perry,2020/11/23,19:17:00+00,2020/11/30,14:29:59+00,MS
6,-111.414812,40.072836,Unknown,Utah,2019/10/26,21:29:00+00,2019/11/13,00:14:59+00,UT
7,-111.575112,44.637596,Natural,Beaverhead,2020/08/27,14:06:38+00,2020/08/27,20:52:59+00,MT

In [9]:
# new data frame with split value columns making data type integer to be analyzed
new = df1_3["RainAccumulation"].str.split(" ", n = 1, expand = True)
df1_3["RainAccumulation(Inches)"]= new[0]
df1_3.drop(columns =["RainAccumulation"], inplace = True)

new = df1_3["WindSpeedMPH"].str.split(" ", n = 1, expand = True)
df1_3["WindSpeed(MPH)"]= new[0]
df1_3.drop(columns =["WindSpeedMPH"], inplace = True)

new = df1_3["WindDirDegrees"].str.split(" ", n = 1, expand = True)
df1_3["WindDirection(Degrees)"]= new[0]
df1_3.drop(columns =["WindDirDegrees"], inplace = True)

new = df1_3["AirTempStandPlace"].str.split(" ", n = 1, expand = True)
df1_3["AirTempreture(Fahrenheit)"]= new[0]
df1_3.drop(columns =["AirTempStandPlace"], inplace = True)

new = df1_3["RelativeHumidity"].str.split(" ", n = 1, expand = True)
df1_3["RelativeHumidity(%)"]= new[0]
df1_3.drop(columns =["RelativeHumidity"], inplace = True)

new = df1_3["SolarRadiation"].str.split(" ", n = 1, expand = True)
df1_3["SolarRadiation(W/M^2)"]= new[0]
df1_3.drop(columns =["SolarRadiation"], inplace = True)

df1_3.head()

/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3610636825.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3["RainAccumulation(Inches)"]= new[0]
/Users/abdullatifalnuaimi/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3610636825.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3["WindSpeed(MPH)"]= new[0]
/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3610636825.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3["WindDirection(Degrees)"]= new[0]
/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3610636825.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3["AirTempreture(Fahrenheit)"]= new[0]
/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3610636825.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3["RelativeHumidity(%)"]= new[0]
/var/folders/bq/lrmwbgb91jj6fmpc46h2639m0000gn/T/ipykernel_95865/3610636825.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3["SolarRadiation(W/M^2)"]= new[0]

,Latitude,Longitude,StationName,State,County,StationID,Date,Time,RainAccumulation(Inches),WindSpeed(MPH),WindDirection(Degrees),AirTempreture(Fahrenheit),RelativeHumidity(%),SolarRadiation(W/M^2)
0,44.02861,-90.08306,NECEDAH,WI,Juneau,17372963,2022/08/31,12:48:00+00,22.09,5,273,62,82,28
1,36.47500,-84.65417,BISO-NP,TN,Scott,17246242,2022/03/15,12:54:00+00,14.94,0,197,41,75,37
2,46.30739,-105.02978,KNOWLTON,MT,Prairie,16831540,2022/05/02,22:40:00+00,1.59,11,180,55,44,442
3,38.03944,-122.57000,BIG ROCK,CA,Marin,17414417,2022/08/03,15:33:59+00,3.53,3,144,62,78,138
4,37.33111,-106.29250,SAN LUIS VALLEY PORTABLE,CO,Conejos,17567535,2022/05/06,01:39:00+00,0,4,230,51,22,40

In [10]:
# Changing data type

df1_3.info()

df1_4 = df1_3[df1_3["RainAccumulation(Inches)"].str.contains("NO")== False]
df1_5 = df1_4[df1_4["WindSpeed(MPH)"].str.contains("NO")== False]
df1_6 = df1_5[df1_5["WindDirection(Degrees)"].str.contains("NO")== False]
df1_7 = df1_6[df1_6["AirTempreture(Fahrenheit)"].str.contains("NO")== False]
df1_8 = df1_7[df1_7["RelativeHumidity(%)"].str.contains("NO")== False]
df1_9 = df1_8[df1_8["SolarRadiation(W/M^2)"].str.contains("NO")== False]



# Using dictionary to convert specific columns
convert_dict = {'RainAccumulation(Inches)': float,
                'WindSpeed(MPH)': float,
                'WindDirection(Degrees)': float,
                'AirTempreture(Fahrenheit)': float,
                'RelativeHumidity(%)': float,
                'SolarRadiation(W/M^2)': float
                
                }
 
df1_10 = df1_9.astype(convert_dict)

df1_10

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3338 entries, 0 to 4201
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Latitude                   3338 non-null   float64
 1   Longitude                  3338 non-null   float64
 2   StationName                3338 non-null   object
 3   State                      3338 non-null   object
 4   County                     3338 non-null   object
 5   StationID                  3338 non-null   int64
 6   Date                       3338 non-null   object
 7   Time                       3338 non-null   object
 8   RainAccumulation(Inches)   3338 non-null   object
 9   WindSpeed(MPH)             3338 non-null   object
 10  WindDirection(Degrees)     3338 non-null   object
 11  AirTempreture(Fahrenheit)  3338 non-null   object
 12  RelativeHumidity(%)        3338 non-null   object
 13  SolarRadiation(W/M^2)      3338 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 391.2+ KB

,Latitude,Longitude,StationName,State,County,StationID,Date,Time,RainAccumulation(Inches),WindSpeed(MPH),WindDirection(Degrees),AirTempreture(Fahrenheit),RelativeHumidity(%),SolarRadiation(W/M^2)
0,44.02861,-90.08306,NECEDAH,WI,Juneau,17372963,2022/08/31,12:48:00+00,22.09,5.0,273.0,62.0,82.0,28.0
1,36.47500,-84.65417,BISO-NP,TN,Scott,17246242,2022/03/15,12:54:00+00,14.94,0.0,197.0,41.0,75.0,37.0
2,46.30739,-105.02978,KNOWLTON,MT,Prairie,16831540,2022/05/02,22:40:00+00,1.59,11.0,180.0,55.0,44.0,442.0
3,38.03944,-122.57000,BIG ROCK,CA,Marin,17414417,2022/08/03,15:33:59+00,3.53,3.0,144.0,62.0,78.0,138.0
4,37.33111,-106.29250,SAN LUIS VALLEY PORTABLE,CO,Conejos,17567535,2022/05/06,01:39:00+00,0.00,4.0,230.0,51.0,22.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4197,30.43833,-88.42556,GRAND BAY,MS,Jackson,17496602,2022/08/31,12:49:59+00,30.49,3.0,360.0,76.0,93.0,101.0
4198,63.49080,-150.87265,WONDER LAKE,AK,Denali,17038632,2022/08/31,13:27:00+00,11.33,1.0,329.0,43.0,98.0,0.0
4199,31.90611,-100.58167,PAINT CREEK,TX,Coke,17514780,2022/08/31,13:10:00+00,5.37,2.0,138.0,73.0,100.0,10.0
4200,36.41459,-105.55688,TAOS PUEBLO RAWS,NM,Taos,19875077,2022/08/31,13:14:00+00,0.00,0.0,302.0,62.0,69.0,189.0
4201,31.51450,-99.65075,COLEMAN,TX,Coleman,17386529,2022/08/31,13:07:00+00,6.81,3.0,101.0,72.0,96.0,16.0

In [16]:
# Taking only Texas inputs or data

# Weather_Stations_Data
df1_11= df1_10[df1_10.State.str.startswith('TX')]

#Wildland_Fire_Locations
df2_4 = df2_3[df2_3.State.str.startswith('TX')]

,Longitude,Latitude,FireCause,County,FireDiscoveryDate,FireDiscoveryTime,FireOutDate,FireOutTime,State
43,-95.517607,31.129305,Human,Houston,2021/03/07,19:39:00+00,2021/03/09,22:45:50+00,TX
52,-99.185791,32.758756,Human,Shackelford,2020/07/21,22:37:08+00,2020/07/26,23:26:59+00,TX
105,-96.651841,30.203172,Human,Washington,2019/08/23,20:29:00+00,2019/08/24,23:22:00+00,TX
120,-99.108619,32.655561,Unknown,Shackelford,2020/07/22,22:14:27+00,2020/07/26,22:01:00+00,TX
135,-93.924090,30.235622,Human,Orange,2017/02/09,01:02:00+00,2017/02/10,19:47:00+00,TX
...,...,...,...,...,...,...,...,...,...
237299,-95.074745,32.575426,Human,Upshur,2022/08/28,22:12:59+00,2022/08/29,21:17:06+00,TX
237381,-99.173198,32.834226,Undetermined,Shackelford,2022/08/29,15:57:18+00,2022/09/01,21:48:11+00,TX
237720,-101.495309,35.689666,Undetermined,Hutchinson,2022/08/31,18:14:00+00,2022/08/31,18:59:59+00,TX
238097,-94.387857,29.597715,Undetermined,Chambers,2022/09/02,17:29:59+00,2022/09/04,23:00:00+00,TX
238629,-94.709807,32.690789,Human,Upshur,2022/09/06,00:41:36+00,2022/09/06,22:00:01+00,TX

In [41]:
# Exporting data frames as CSV file after completing data cleaning process

df1_11.to_csv('/Users/abdullatifalnuaimi/Downloads/Weather_Stations_Data.csv', index=False)

df2_4.to_csv('/Users/abdullatifalnuaimi/Downloads/Wildland_Fire_Locations.csv', index=False)

df3_2.to_csv('/Users/abdullatifalnuaimi/Downloads/Texas_Fire_Department_Substations.csv', index=False)